.pagination {
    text-align: center;
    margin-bottom: 45px;
}

.paginationButton {
    color: white;
    border: none;
    cursor: pointer;
}

.disabledPaginationButton {
    color: #6f7373;
    border: none;
}

.disabledPaginationButton:hover {
    cursor: default;
}

.bold {
    font-weight: bold;
    font-size: 16px;
    color: blueviolet;
}